In [1]:
import numpy as np 
import pandas as pd

In [2]:
import glob

In [9]:
import os

In [25]:
data = {}

In [22]:
data_raw_folder = "../data/raw/*.csv"

In [23]:
files = glob.glob(data_raw_folder)

In [26]:
for file in files:
    basename = os.path.basename(file)
    col_name = basename[:-4].split('_')[1]
    data[col_name] = pd.read_csv(file)

In [29]:
print(data.keys())

dict_keys(['brands', 'customers', 'inventory', 'orders', 'order', 'products', 'promotions', 'reviews', 'suppliers', 'warehouses'])

Exploraremos

In [40]:
# Convertir a DataFrames las tablas principales
df_orders = data['orders']
df_order_items = data['order']
df_customers = data['customers']
df_products = data['products']

In [41]:
df_order_items

      order_item_id  order_id  product_id  quantity  unit_price  subtotal
0                 1         1          31         2       64.29    128.58
1                 2         1          74         1      232.68    232.68
2                 3         1          88         5      405.98   2029.90
3                 4         1          31         1       64.29     64.29
4                 5         1          97         4      325.55   1302.20
...             ...       ...         ...       ...         ...       ...
1541           1542       499          54         2      332.25    664.50
1542           1543       499          45         1      357.39    357.39
1543           1544       499          56         4      263.28   1053.12
1544           1545       500          60         4      411.46   1645.84
1545           1546       500          64         2       70.20    140.40

[1546 rows x 6 columns]